@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --title-font: "Spectral SC", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
  width: 100%;
  color: rgb(var(--foreground-rgb));
  overflow-y: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --border: rgba(66, 66, 66, 0.719) solid 1px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body{
  width:100%;
  margin: 0;
  padding: 0;
  height: calc(100vh - calc(100vh - 100%));
}



.colors {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.closed{
  width: 0;
  overflow: hidden;
  padding: 0;
  transition: width 0.8s ease 0.1s, color 0s linear;
  color: #282828;
  height: 100px;
  display: none;
}

.open{
  width: calc(100% - 400px) ;
  overflow: hidden;
  padding-right: 12px;
  transition: width 0.8s ease, color 0.3s linear 0.5s;
  color: white;
  background-color: #282828;
  height: 100px;
}

#menu{
  background-color: #282828;
  position: fixed;
  bottom: 20px;
  left: 368px;
  display: flex;
  text-align: right;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

#menu button{
  color: inherit;
  flex: 0 32%;
  background: none;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-size: 14.74px;
  text-align: left;
  padding: 0 10px;
  cursor: default;
  white-space: nowrap;
  position: relative;
  top: 0;
  transition: all linear .2s;
}

/* #menu button:hover{
  position: relative;
  bottom: 2px;
  transition: all linear .2s;
} */

#menu button:active{
  position: relative;
  top: 2px;
}

.tools{
  background-color: #282828;
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: white;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100px;
  border-radius: 12px;
  cursor: default;
}

#generate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  margin: 0 58px;
  text-align: center;
}

#generate:hover{
  background-color: #46474a;
  height: 40px;
  width: 40px;
  margin: 0 48px;
  border-radius: 12px;
}

#color-scheme{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding:0 10px;
}

#color-scheme:hover{
  background-color: #46474a;
  
  height: 40px;
  border-radius: 12px;
}

.color-blocks {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  height: 100%;
  width:100%
}
.color-block {
  display: block;
  width: 12%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-code{
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #282828;
  color: white;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  border-radius: 12px;
  list-style-type: none;
}
.instructions{
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #282828;
  border-radius: 12px;
  transition: color 0.3s ease, width 0.3s ease, height 0.3s ease;
  color: #282828;
} 
.open-instructions{
  padding: 10px;
  overflow: hidden;
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 360px;
  height: 240px;
  background-color: #282828;
  border-radius: 12px;
  color: white;
  transition: color 0.3s ease 0.3s , width 0.3s ease, height 0.3s ease;
} 
.instructions .instructions-list{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-right: 20px;
  display: none;
}
.open-instructions .instructions-list{
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-right: 20px; 
}

#help{
  color: white;
  font-size: 20px;
  position: fixed;
  top: 30px;
  right: 30px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #282828;
  color: white;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  border-radius: 12px;
  width: 200px;
  height: 40px;
  letter-spacing: -1px;
  cursor: default;
}

#ct{
  display: inline; 
  font-weight: 200;
  letter-spacing: -1px
}

@media all and (max-width: 965px) {
  .colors {
    display: flex;
    flex-direction: column;
    height: calc(100vh - calc(100vh - 100%));
    width: 100%;
  }
  #bars{
    z-index: 99;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
  }
  .closed{
    width: 40px;
    height: 40px;
    overflow: hidden;
    padding: 0;
    transition: none;
    /* transition: width 0.8s ease 0.1s, height 0.8s ease 0.1s, color 0s linear; */
    color: #282828;
    border-radius: 12px;
  }
  .closed button {
    display: none;
  }

  .open{
    width: calc(100% - 40px) ;
    overflow: hidden;
    padding-right: 0px;
    transition: none;
    /* transition: width 0.8s ease, height 0.8s ease 0.1s, color 0.3s linear 0.5s; */
    color: white;
    background-color: #282828;
    height: calc(100% - 148px);
    border-radius: 12px;
  }

  #menu{
    background-color: #282828;
    position: fixed;
    top: 126px;
    left: 20px; /* comeback here */
    display: flex;
    flex-wrap: nowrap;
    text-align: right;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
  }

  #menu button{
    flex: 1;
    color: inherit;
    background: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-size: 14.74px;
    text-align: left;
    padding: 0 10px;
    cursor: default;
    white-space: nowrap;
    position: relative;
    top: 0;
    transition: none;
    /* transition: all linear .2s; */
  }

  /* #menu button:hover{
    position: relative;
    bottom: 2px;
    transition: all linear .2s;
  } */

  #menu button:active{
    position: relative;
    top: 2px;
  }

  .tools{
    background: none;
    position: fixed;
    top: 72px;
    left: 20px;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    width: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 88px;
    cursor: default;
    border-radius: 12px;
  }

  #generate {
    width: 40px;
    position: relative;
    top: 0;
    background-color: #282828;
    border-radius: 12px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }

  #generate:hover{
    background-color: #282828;
    height: 40px;
    width: 40px;
    margin: 0;
    border-radius: 12px;
  }

  #color-scheme{
    width: 40px;
    background-color: #282828;
    border-radius: 12px;
    position: relative;
    bottom: 0px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding:0;
    font-weight: 200;
    font-size: 20px;
  }

  #color-scheme:hover{
    background-color: #282828;
    width: 40px;
    height: 40px;
    border-radius: 12px;
  }

  .color-blocks {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: nowrap;
    height: 100%;
    width:100%
  }
  .color-block {
    display: auto;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .color-code{
    font-family: 'Montserrat', sans-serif;
    padding: 6px;
    text-align: center;
    background-color: #282828;
    color: white;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    border-radius: 12px;
    list-style-type: none;
    margin: 0;
  }
  .rgb{
    display: none;
  }
  .hex{
    display: none;
    font-size:14px;
  }
  .instructions{
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 0px;
    background-color: #282828;
    border-radius: 12px;
    transition: none;
    /* transition: color 0.8s ease, width 0.3s ease, height 0.3s ease; */
    color: #282828;
  } 

  .open-instructions{
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 50px;
    right: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 62px);
    background-color: #282828;
    border-radius: 12px;
    color: white;
    transition: none;
    /* transition: color 0.3s ease 0.8s , width 0.8s ease, height 0.8s ease; */
  } 
  .instructions .instructions-list{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-right: 20px;
    margin-bottom: 20px;
    display: none;
  }
  .open-instructions .instructions-list{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-right: 20px; 
    margin-bottom: 20px;
  }

  #help{
    color: white;
    font-size: 20px;
    position: fixed;
    top: 10px;
    right: 30px;
  }

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    position: relative;
    top: 0;
    left: 0;
    background-color: #282828;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    height: 40px;
    width: 100%;
    letter-spacing: -1px;
  }
}
